<a href="https://colab.research.google.com/github/ysooj/ysooj.github.io/blob/main/%EC%B1%95%ED%84%B02-%ED%8C%80%EA%B3%BC%EC%A0%9C-%ED%95%84%EC%88%98%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
import pandas as pd
import numpy as np

In [46]:
import seaborn as sns
titanic = sns.load_dataset("titanic")
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [47]:
titanic.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [48]:
# count : 개수. 해당 열의 데이터가 몇 개 있는지 세어준다.
# mean : 평균. 해당 열의 평균을 알려준다.
# std : 표준편차. 데이터가 평균을 기준으로 얼마나 흩어져 있는지를 나타낸다. 값이 클수록 데이터가 더 많이 분산돼있다는 뜻.
# min : 최솟값. 해당 열에서 가장 작은 값을 의미한다.
# 25% : 1사분위수, Q1. 데이터 중 25%에 해당하는 값으로, 데이터의 하위 25%가 이 값보다 작다.
# 50% : median 또는 2사분위수, Q2. 중앙값, 즉 데이터를 작은 값부터 큰 값으로 정렬했을 때 정확히 가운데 위치한 값. 데이터의 50%가 이 값보다 작고, 50%가 이 값보다 크다.
# 75% : 3사분위수, Q3. 데이터 중 상위 25%에 해당하는 값. 전체 데이터의 75%가 이 값보다 작고, 25%가 이 값보다 크다.
# max : 최댓값. 해당 열에서 가장 큰 값을 의미한다.

In [49]:
# count : 데이터에서 결측값(NaN)을 제외한 존재하는 값들의 개수로, 데이터의 총 갯수를 보여준다.
#         단순하게 값이 얼마나 많이 기록되었는지 알 수 있다.
#         len() 함수를 통해 구할 수 있다.
# mean : 해당 열의 모든 값을 더한 후 값들의 개수로 나눈 값으로, 데이터의 평균적인 값을 보여준다.
#        데이터의 중심 경향을 알 수 있습니다.
#        sum()과 len()을 통해 구할 수 있습니다.
# std : 데이터가 평균을 기준으로 얼마나 퍼져 있는지를 보여주는 표준편차 값이다.
#       데이터가 얼마나 분산되어 있는지를 알 수 있다. 값이 클수록 데이터가 평균에서 많이 흩어져 있다는 의미이다.
#       numpy의 np.std() 함수를 통해 구할 수 있다.
# min : 데이터에서 가장 작은 값을 나타낸다.
#       데이터의 최소값이 어떤지 확인할 수 있다.
#       min() 함수를 통해 구할 수 있다.
# 25% : 25%는 데이터를 작은 값부터 큰 값으로 나열했을 때 하위 25%에 해당하는 값이다.
#       데이터의 하위 25%가 어디에 위치하는지 알 수 있다.
#       numpy의 np.percentile(data, 25) 함수를 통해 구할 수 있다.
# 50% : 50%는 데이터를 작은 값부터 큰 값으로 정렬했을 때 정확히 중간에 위치한 값으로, 데이터의 중앙값을 의미한다.
#       데이터의 절반이 이 값보다 작고, 절반이 이 값보다 크다.
#       numpy의 np.median() 함수를 통해 구할 수 있다.
# 75% : 75%는 데이터를 작은 값부터 큰 값으로 나열했을 때 상위 25%에 해당하는 값이다.
#       데이터의 상위 25%가 어디에 위치하는지 알 수 있다.
#       numpy의 np.percentile(data, 75) 함수를 통해 구할 수 있다.
# max : max는 데이터에서 가장 큰 값을 나타낸다.
#       데이터의 최대값이 무엇인지 확인할 수 있다.
#       max() 함수를 통해 구할 수 있다.

In [50]:
print(titanic.isnull().sum())

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [51]:
titanic['age'] = titanic['age'].fillna(titanic['age'].median())
titanic['embarked'] = titanic['embarked'].fillna(titanic['embarked'].mode()[0])
print(titanic['age'].isnull().sum())
print(titanic['embarked'].isnull().sum())

0
0

In [52]:
titanic['sex'] = titanic['sex'].map({'male':0, 'female':1})
titanic['alive'] = titanic['alive'].map({'yes':1, 'no':0})
titanic['embarked'] = titanic['embarked'].map({'C':0, 'Q':1, 'S':2})
print(titanic['sex'].head())
print(titanic['alive'].head())
print(titanic['embarked'].head())

0    0
1    1
2    1
3    1
4    0
Name: sex, dtype: int64
0    0
1    1
2    1
3    1
4    0
Name: alive, dtype: int64
0    2
1    0
2    2
3    2
4    2
Name: embarked, dtype: int64

In [53]:
titanic['family_size'] = titanic['sibsp'] + titanic['parch'] + 1
titanic['family_size'].head()

0    2
1    2
2    1
3    2
4    1
Name: family_size, dtype: int64

In [58]:
# Logistic Regression

titanic = titanic[['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'family_size']]
X = titanic.drop('survived', axis=1) # feature
y = titanic['survived'] # target

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# 데이터 분할
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 데이터 스케일링
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

from sklearn.linear_model import LogisticRegression

# 모델 생성 및 학습
model = LogisticRegression()
model.fit(X_train, y_train)

# 예측
y_pred = model.predict(X_test)

from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# 평가
print(f"Accuracy: {accuracy_score(y_test, y_pred)}")
print(f"Classification Report:\n{classification_report(y_test, y_pred)}")

Accuracy: 0.8044692737430168
Classification Report:
              precision    recall  f1-score   support

           0       0.82      0.86      0.84       105
           1       0.78      0.73      0.76        74

    accuracy                           0.80       179
   macro avg       0.80      0.79      0.80       179
weighted avg       0.80      0.80      0.80       179

In [63]:
# Random Forest

titanic = titanic[['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'family_size']]
X = titanic.drop('survived', axis=1) # feature
y = titanic['survived'] # target

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# 데이터 분할
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 데이터 스케일링
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

from sklearn.tree import DecisionTreeClassifier

# 모델 생성 및 학습
model = DecisionTreeClassifier(random_state=42)
model.fit(X_train, y_train)

# 예측
y_pred = model.predict(X_test)

from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# 평가
print(f"Accuracy: {accuracy_score(y_test, y_pred)}")
print(f"Classification Report:\n{classification_report(y_test, y_pred)}")

Accuracy: 0.770949720670391
Classification Report:
              precision    recall  f1-score   support

           0       0.83      0.76      0.80       105
           1       0.70      0.78      0.74        74

    accuracy                           0.77       179
   macro avg       0.77      0.77      0.77       179
weighted avg       0.78      0.77      0.77       179

In [75]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error

# XGBoost 모델 생성
xgb_model = xgb.XGBClassifier(n_estimators=150, learning_rate=0.1, max_depth=3, random_state=42)
# learning rate[default = 0.1]: 이전의 결과를 얼마나 반영할건지 일반적으로 0.01~0.2
# max_depth [default = 6] : 트리의 최대 깊이 일반적으로 3 ~ 10

# 모델 학습
xgb_model.fit(X_train_scaled, y_train)

# 예측
y_pred_xgb = xgb_model.predict(X_test_scaled)

# 평가
mse_xgb = mean_squared_error(y_test, y_pred_xgb)
print(f'XGBoost 모델의 MSE: {mse_xgb}')

XGBoost 모델의 MSE: 0.18435754189944134

In [80]:
# XGBoost

titanic = titanic[['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'family_size']]
X = titanic.drop('survived', axis=1) # feature
y = titanic['survived'] # target

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# 데이터 분할
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 데이터 스케일링
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

import xgboost as xgb
from sklearn.metrics import mean_squared_error

# XGBoost 모델 생성
xgb_model = xgb.XGBRegressor(n_estimators=100, learning_rate=0.1, max_depth=3, random_state=42)

# 모델 학습
xgb_model.fit(X_train_scaled, y_train)

# 예측
y_pred_xgb = xgb_model.predict(X_test_scaled)

# 평가
mse_xgb = mean_squared_error(y_test, y_pred_xgb)
print(f'XGBoost 모델의 MSE: {mse_xgb}')

XGBoost 모델의 MSE: 0.12981004899201257