<a href="https://colab.research.google.com/github/ysooj/ysooj.github.io/blob/main/%EC%B1%95%ED%84%B02-%ED%8C%80%EA%B3%BC%EC%A0%9C-%ED%95%84%EC%88%98%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
import numpy as np # 연산 
import pandas as pd # 데이터 처리
import seaborn as sns
titanic = sns.load_dataset('titanic')

In [46]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [47]:
titanic.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [48]:
# count : 개수. 해당 열의 데이터가 몇 개 있는지 세어준다.
# mean : 평균. 해당 열의 평균을 알려준다.
# std : 표준편차. 데이터가 평균을 기준으로 얼마나 흩어져 있는지를 나타낸다. 값이 클수록 데이터가 더 많이 분산돼있다는 뜻.
# min : 최솟값. 해당 열에서 가장 작은 값을 의미한다.
# 25% : 1사분위수, Q1. 데이터 중 25%에 해당하는 값으로, 데이터의 하위 25%가 이 값보다 작다.
# 50% : median 또는 2사분위수, Q2. 중앙값, 즉 데이터를 작은 값부터 큰 값으로 정렬했을 때 정확히 가운데 위치한 값. 데이터의 50%가 이 값보다 작고, 50%가 이 값보다 크다.
# 75% : 3사분위수, Q3. 데이터 중 상위 25%에 해당하는 값. 전체 데이터의 75%가 이 값보다 작고, 25%가 이 값보다 크다.
# max : 최댓값. 해당 열에서 가장 큰 값을 의미한다.

In [49]:
# count : 데이터에서 결측값(NaN)을 제외한 존재하는 값들의 개수로, 데이터의 총 갯수를 보여준다.
#         단순하게 값이 얼마나 많이 기록되었는지 알 수 있다.
#         len() 함수를 통해 구할 수 있다.
# mean : 해당 열의 모든 값을 더한 후 값들의 개수로 나눈 값으로, 데이터의 평균적인 값을 보여준다.
#        데이터의 중심 경향을 알 수 있습니다.
#        sum()과 len()을 통해 구할 수 있습니다.
# std : 데이터가 평균을 기준으로 얼마나 퍼져 있는지를 보여주는 표준편차 값이다.
#       데이터가 얼마나 분산되어 있는지를 알 수 있다. 값이 클수록 데이터가 평균에서 많이 흩어져 있다는 의미이다.
#       numpy의 np.std() 함수를 통해 구할 수 있다.
# min : 데이터에서 가장 작은 값을 나타낸다.
#       데이터의 최소값이 어떤지 확인할 수 있다.
#       min() 함수를 통해 구할 수 있다.
# 25% : 25%는 데이터를 작은 값부터 큰 값으로 나열했을 때 하위 25%에 해당하는 값이다.
#       데이터의 하위 25%가 어디에 위치하는지 알 수 있다.
#       numpy의 np.percentile(data, 25) 함수를 통해 구할 수 있다.
# 50% : 50%는 데이터를 작은 값부터 큰 값으로 정렬했을 때 정확히 중간에 위치한 값으로, 데이터의 중앙값을 의미한다.
#       데이터의 절반이 이 값보다 작고, 절반이 이 값보다 크다.
#       numpy의 np.median() 함수를 통해 구할 수 있다.
# 75% : 75%는 데이터를 작은 값부터 큰 값으로 나열했을 때 상위 25%에 해당하는 값이다.
#       데이터의 상위 25%가 어디에 위치하는지 알 수 있다.
#       numpy의 np.percentile(data, 75) 함수를 통해 구할 수 있다.
# max : max는 데이터에서 가장 큰 값을 나타낸다.
#       데이터의 최대값이 무엇인지 확인할 수 있다.
#       max() 함수를 통해 구할 수 있다.

In [50]:
# 1. count: colunm별 총 data 수
# 2. mean: 평균

# df.mean(axis=None, skipna=None, level=None, numeric_only=None, kwargs)
# axis : {0 : index / 1 : columns} 계산의 기준이 될 축
# skipna : 결측치를 무시할지 여부
# level : Multi Index의 경우 연산을 수행할 레벨
# numeric_only : 숫자, 소수, 부울만 이용할지 여부
# kwargs : 함수에 전달할 추가 키워드

# 3. std: 표준편차

# df.std(axis=None, skipna=None, level=None, ddof=1, numeric_only=None, kwargs)
# axis : 표본표준편차를 구할 축을 지정
# skipna : 결측치를 무시할지 여부
# level : Multi Index의 경우 대상 레벨을 지정
# ddof : 표본표준편차 계산의 분모가되는 자유도를 지정 산식은 n - ddof값으로 기본값은 n-1
# numeric_only : 숫자, 소수, bool로 구성된 열만 대상으로할지 여부
# kwargs : 함수의 경우에 추가적으로 적용할 키워드

# 4. max/min: 최대/최소값

# df.max(axis=None, skipna=None, level=None, numeric_only=None, kwargs)
# df.min(axis=None, skipna=None, level=None, numeric_only=None, kwargs)
# axis : {0 : index / 1 : columns} 계산의 기준이 될 축입니다.
# skipna : 결측치를 무시할지 여부
# level : Multi Index의 경우 연산을 수행할 레벨
# numeric_only : 숫자, 소수, 부울만 이용할지 여부
# kwargs : 함수에 전달할 추가 키워드

# 5. 25/50.75%: 백분위수 지점

# df.quantile(q=0.5, axis=0, numeric_only=True, interpolation='linear')
# q : 분위수, 소수로 표현 (예 : 75% = 0.75)
# aixs : 분위수의 값을 구할 축
# numeric_only : 수(소수)만 대상으로할지 여부 False일 경우 datetime 및 timedelta 데이터의 분위수도 계산
# interpolation : 분위수에 값이 없을때 보간하는 방법
#   liner : i + (j - i) x 비율 [분위수 앞, 뒤 수 간격 * 비율]
#   lower : i [분위수 앞, 뒤수 중 작은수]
#   higher : j [분위수 앞, 뒤수 중 큰수]
#   midpoint : (i+j)÷2 [분위수 앞, 뒤수의 중간값]
#   nearest : i or j [분위수 앞, 뒤수중 분위수에 가까운 수]

In [51]:
titanic.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [52]:
titanic['age'] = titanic['age'].fillna(titanic['age'].median())
titanic['embarked'] = titanic['embarked'].fillna(titanic['embarked'].mode()[0])
# .mode()는 series 형태로 값을 반환
# _ | 0
# -----
# 0 | S
# .mode()[0] 으로 수정하여 첫번째 값만 반환
print(titanic['age'].isnull().sum())
print(titanic['embarked'].isnull().sum())

0
0

In [53]:
titanic['sex'] = titanic['sex'].map({'male':0, 'female':1})
titanic['alive'] = titanic['alive'].map({'yes':1, 'no':0})
titanic['embarked'] = titanic['embarked'].map({'C':0, 'Q':1, 'S':2})
# .map() serise 형태만 사용 가능
# 딕셔너리 형태로 맵핑
print(titanic['sex'].head())
print(titanic['alive'].head())
print(titanic['embarked'].head())

0    0
1    1
2    1
3    1
4    0
Name: sex, dtype: int64
0    0
1    1
2    1
3    1
4    0
Name: alive, dtype: int64
0    2
1    0
2    2
3    2
4    2
Name: embarked, dtype: int64

In [54]:
titanic['family_size'] = titanic['sibsp'] + titanic['parch'] + 1
# 나까지 포함해야 하기 때문에 1을 더해주었다.
titanic['family_size'].head()

0    2
1    2
2    1
3    2
4    1
Name: family_size, dtype: int64

In [56]:
# 데이터 준비 및 모델 학습 준비

titanic = titanic[['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'family_size']]

# feature, target 분리
X = titanic.drop('survived', axis=1) # feature
# feature: target을 예측하기 위한 독립변수
# 예측하는 정답인 'survived'(생존여부) 제거
y = titanic['survived'] # target
# target: 예측해야 할 종속변수
# 정답인 'survived'(생존여부)만 남김

from sklearn.model_selection import train_test_split  # 데이터 분할
from sklearn.preprocessing import StandardScaler      # 표준화 구구

# 데이터 분할
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# _train: 학습용 / _test: 평가용
# train_test-split(): train / test 를 분리 => 과적합 방지
# 과적합: train 데이터를 100% 학습시킨 후 test 데이터에 모델을 적용했을 때 성능이 생각보다 않 나오는 경우
# test_size: 전체 데이터 중에 평가에 사용할 비율
# random_state: seed값 : 무작위 결과를 고정하는 값 
# 예시가 주로 42인 이유:더글러스 애덤스의 "은하수를 여행하는 히치하이커를 위한 안내서" 속 궁극의 해답 42로 추측

# 데이터 스케일링
scaler = StandardScaler() # 평균이 0 분산 1 크기로 맞춤
X_train = scaler.fit_transform(X_train) # 평균과 편차를 찾아서 정규화
# .fit_transform() = .fit() 과 .transform()을 묶은 것
# .fit(): 데이터에 모델을 맞추는 것/X_train 데이터의 평균과 분산을 학습
# .transfotm(): fit()을 기준으로 얻은 평균과 분산에 맞춰 변형
X_test = scaler.transform(X_test)
# fit 제거 
# X_test의 데이터도 학습되기 때문

In [60]:
# Logistic Regression

from sklearn.linear_model import LogisticRegression

# 모델 생성 및 학습
model = LogisticRegression()
model.fit(X_train, y_train)

# 예측
y_pred = model.predict(X_test)

from sklearn.metrics import accuracy_score, classification_report

# 평가
print(f"Accuracy: {accuracy_score(y_test, y_pred)}")
print(f"Classification Report:\n{classification_report(y_test, y_pred)}")

Accuracy: 0.8044692737430168
Classification Report:
              precision    recall  f1-score   support

           0       0.82      0.86      0.84       105
           1       0.78      0.73      0.76        74

    accuracy                           0.80       179
   macro avg       0.80      0.79      0.80       179
weighted avg       0.80      0.80      0.80       179

In [62]:
# Random Forest
from sklearn.ensemble import RandomForestClassifier

# 랜덤 포레스트 모델 생성
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
# n_estimators: 생성할 트리 개수

# 모델 학습
rf_model.fit(X_train, y_train)

# 예측
y_pred_rf = rf_model.predict(X_test)

from sklearn.metrics import accuracy_score, classification_report

# 평가
print(f"Accuracy: {accuracy_score(y_test, y_pred_rf)}")
print(f"Classification Report:\n{classification_report(y_test, y_pred_rf)}")

Accuracy: 0.8212290502793296
Classification Report:
              precision    recall  f1-score   support

           0       0.85      0.85      0.85       105
           1       0.78      0.78      0.78        74

    accuracy                           0.82       179
   macro avg       0.82      0.82      0.82       179
weighted avg       0.82      0.82      0.82       179

In [71]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error

# XGBoost 모델 생성
xgb_model = xgb.XGBClassifier(n_estimators=150, learning_rate=0.1, max_depth=3, random_state=42)
# learning rate[default = 0.1]: 이전의 결과를 얼마나 반영할건지 일반적으로 0.01~0.2
# max_depth [default = 6] : 트리의 최대 깊이 일반적으로 3 ~ 10

# 모델 학습
xgb_model.fit(X_train, y_train)

# 예측
y_pred_xgb = xgb_model.predict(X_test)

# 평가
mse_xgb = mean_squared_error(y_test, y_pred_xgb)
print(f'XGBoost 모델의 MSE: {mse_xgb}')

XGBoost 모델의 MSE: 0.18435754189944134